{{- define "main" -}}
<div class="article__top bg-center bg-gray-700" {{ with .Params.thumbnail }}
	style="background-image: url({{ . | absURL }})" {{ end }}>
	{{/*  {{ if .Params.thumbnail }}<img src="{{ .Params.thumbnail }}" alt="{{ .Title }}" />{{ end }} */}}
</div>
<article class="container mx-auto row">
	<div class="justify-content-center -mt-72 bg-white md:shadow relative">
		<div class="text-center pt-8">
			<h1>{{ .Title }}</h1>
		</div>
		<div class="flex">
			<div class="px-16">
				<div class="prose">
					{{ .Content }}
				</div>
			</div>
		</div>
	</div>
</article>
{{end}}
