{{- define "main" -}}
<meta http-equiv="refresh" content="0; url=https://forms.office.com/pages/responsepage.aspx?id=Sbrb9QbOb0msPgzxQ2HZNGGQF6EnzCpLmHl4vVt0SDJUN0RMS1VJUlAzRThMWVFEUFFaQlpNU1Q1TC4u&web=1&wdLOR=c1AB347BA-5791-0A49-8E80-C11F040AF3A6" />
<div class=" container mx-auto mt-20">
	<h1>Hold on. Redirecting...</h1>

	<p>Something got wrong?</p>
	<button class="text-pink-500 background-transparent font-bold uppercase  py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button"
      >
	<a class="link" href="https://forms.office.com/pages/responsepage.aspx?id=Sbrb9QbOb0msPgzxQ2HZNGGQF6EnzCpLmHl4vVt0SDJUN0RMS1VJUlAzRThMWVFEUFFaQlpNU1Q1TC4u&web=1&wdLOR=c1AB347BA-5791-0A49-8E80-C11F040AF3A6">Click here to access the FORM</a>
	</button>
</div>
{{end}}
