{{- define "main" -}}
<div class="article__top bg-center bg-gray-700" {{ with .Params.thumbnail }}
	style="background-image: url({{ . | absURL }})" {{ end }}>
	{{/*  {{ if .Params.thumbnail }}<img src="{{ .Params.thumbnail }}" alt="{{ .Title }}" />{{ end }} */}}
</div>

<article>
	<header class="md:container mx-auto row">
		<div class="justify-content-center -mt-40 pb-20 bg-white relative">
			<div class="text-center pt-16 px-10 content max-w-full">
				<h1>{{ .Title }}</h1>
			</div>
			<!-- TODO: Add reading time -->
			<div class="post-meta-line">
			</div>
		</div>
	</header>

	<article class="px-8 md:w-1/2 mx-auto">
		<section class="flex flex-row italic">
			<div>{{if isset .Params "authors"}}By {{range .Params.authors}} | <span class="mr-1">{{.}}</span>
				{{end}}{{end}}</div>
			{{- with .Site.Params.dateformat | default "02-01-2006" | .PublishDate.Format -}}
			<time class="text" datetime="{{ . }}">{{if isset $.Params "authors"}}|{{end}} {{ . }}</time>
			{{- end -}}
		</section>
		<article class="content py-8">
			{{ .Content }}
		</article>
	</article>
</article>
{{end}}
