<!doctype html>
<html lang="{{ if $.Params.language }}{{ slicestr $.Params.language  0 2 }}{{ else }}{{ $.Site.Language }}{{ end }}">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	{{ partial "head.html" . }}
	{{ partial "social-meta.html" . }}
	{{ partial "stylesheets.html" . }}
</head>

<body class="flex flex-col min-h-screen">
	{{ partial "navigation.html" . }}
	{{ if .IsHome }} {{ partial "hero" . }} {{else}} {{end}}
	<main class="flex-grow bg-white pb-24">
		{{- block "main" . }}{{ end -}}
	</main>
</body>
{{ partial "footer.html" . }}
{{ partial "javascript-libraries.html" . }}

</html>
