<!DOCTYPE html>
<html lang="{{ if $.Params.language }}{{ slicestr $.Params.language  0 2 }}{{ else }}{{ $.Site.Language }}{{ end }}">

<head>
	{{ partial "relcanonical.html" . }}
	{{ partial "head.html" . }}
	{{ partial "social-meta.html" . }}
	{{ partial "stylesheets.html" . }}
</head>

<body class="flex flex-col min-h-screen">
	{{ partial "global-header.html" . }}
	<main class="flex flex-grow">
		<div class=" container mx-auto">
			<div class="prose">
				<h1>{{ .Title }}Test</h1>
				<p>{{ .Content }}</p>
			</div>
			<div class="grid md:grid-cols-2 sm:grid-cols-1 lg:grid-cols-3 mb-10">
				{{ range (.Paginator 12).Pages }}
				<div class="bg-white overflow-hidden hover:bg-green-100 border border-gray-200 p-3">
					<div class="m-2 text-justify text-sm">
						<p class="text-right text-xs">{{ dateFormat "January 2, 2006" .Date }}</p>
						<h2 class="font-bold text-lg h-2 mb-8">{{ .Title }}</h2>
						<p class="text-xs">
							{{ .Summary }}
						</p>
					</div>
					<div class="w-full text-right mt-4">
						<a class="text-green-400 uppercase font-bold text-sm" href="{{ .Permalink }}">Read More</a>
					</div>
				</div>{{ end }}
			</div>
		</div>
	</main>

	{{ partial "footer.html" . }}
	{{ partial "javascript-libraries.html" . }}
</body>

</html>
