@tailwind base;
@tailwind components;
@tailwind utilities;

@import "components/all.css";

[x-cloak] { display: none; }

html {
	font-family: "Hero New Regular";
}

@layer base {

	body {
		/* background-color: #d1d9d6; */
		background-color: #ffff;
		text-rendering: geometricPrecision;
	   -webkit-font-smoothing: antialiased;
	   -moz-osx-font-smoothing: grayscale;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	a,
	p {
		/* #262626 */
	}
	h1 {
		font-size: calc(32px + 10 * ((100vw - 320px) / 1280));
		line-height: calc(36px + 13 * ((100vw - 320px) / 1280))
	}
	h2 {
		font-size: calc(18px + 6 * ((100vw - 320px) / 1280));
		line-height: calc(25px + 7 * ((100vw - 320px) / 1280));
		/* font-size: 24px;
		line-height: 36px; */
	}
	h3 {
		font-size: calc(24px + 8 * ((100vw - 320px) / 1280));
		line-height: calc(30px + 12 * ((100vw - 320px) / 1280));
	}
	.content {
		@apply prose
	}
}

#page-landing section h1 {
	line-height: 1.7em;
}
.post__image {
	padding-bottom: 61%;
	background-size: 100% auto;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
	transition: transform 250ms ease, box-shadow 250ms ease;
}

.team__image {
	padding-bottom: 100%;
	background-size: 100% auto;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
	transition: transform 250ms ease, box-shadow 250ms ease;
}
.post a:hover .post__image {
    transform: translate(0, -4px);
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.12);
}
.font-bold {
	font-family: "Hero new bold";
}
.font-normal {
	font-family: "Hero new Regular";
}

.article__top {
	position: relative;
	min-height: 580px;
	height: auto;
	background-size: cover;
}
#canvas_draw {
	z-index: -10;
}
#defaultCanvas0 {
	vertical-align: top;
	z-index: -1;
	position: fixed;
	top: 0;
}
h1,
h2,
h3,
strong {
	font-family: "Hero new bold";
}

.grayscale {
	-moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	-o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(100%);
	filter: gray;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}

@screen md {
    html {
		/* font-size: 16px; */

    }
}
