@tailwind base;
@tailwind components;
@tailwind utilities;

@import "components/all.css";

[x-cloak] { display: none; }

html {
	font-size: 14px;
}

body {
	background-color: RGBA(255,255,255,1);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
	color: theme('colors.text');
}

.post__image {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
	transition: transform 250ms ease, box-shadow 250ms ease;
}
.post a:hover .post__image {
    transform: translate(0, -4px);
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.12);
}
.article__top {
	position: relative;
	min-height: 580px;
	height: auto;
	background-size: cover;
}
@screen md {
    html {
		font-size: 16px;

    }
}
