<div class="flex pb-5 text-sm">
	<div class="w-3/6 pr-16">Event</div>
	<div class="">City</div>
	<div class="flex-auto text-right">Date</div>
</div>
<ul class="border-t pb-8">
	{{ range sort (first $.limit $.pages) ".Params.startDate" }}
	<li x-show="tab === '{{.Params.Category}}' || tab === 'all' "
		class="cursor-pointer hover:bg-primary-100{{ if gt now.Unix (time .Params.startDate).Unix }} text-gray-500 line-through {{else}} text-gray-900  {{end}}">
		<a href="{{ .Permalink }}" class="py-3 border-b flex">
			<div class='w-3/6 pr-16 {{if eq .Title "Arts Loves Science // Science Loves Art"}} font-bold {{else}} font-normal {{end}}'>
				{{.Title}}
			</div>
			<div class="flex flex-col md:flex-row lg:w-1/6">
				<div>{{.Params.city}}</div>
			</div>
			<div class="hidden lg:flex w-1/6 justify-left content-center">
				<div class="flex flex-row">
					{{ range $index, $value := .Params.tags}}
					<div>
						<span
							class="flex rounded-full bg-indigo-500 uppercase px-2 py-1 text-xs md:font-bold mr-2 mx-auto">{{.}}</span>
					</div>
					{{end}}
				</div>
			</div>
			<div class="flex-auto text-right">
				{{ if .Params.canceled }}
					<span class="text-gray-500">Canceled</span><div class="text-gray-500 text-xs">(New Date TBA)</div>
				{{else}}
					{{ dateFormat "02.01.06" .Params.startDate }}{{ if .Params.endDate }} -
					{{ dateFormat "02.01.06" .Params.endDate}} {{end}}
				{{end}}
			</div>
		</a>
	</li>
	{{end}}
</ul>
