<div class="flex pb-5">
	<div class="w-2/4 pr-8">Event</div>
	<div class="">City</div>
	<div class="flex-auto text-right">Date</div>
</div>
<ul class="border-t pb-8">
	{{ $pages := slice }}
	{{ range where .dot.Site.RegularPages "Section" "calendar" }}
	{{ $pages = $pages | append . }}
	{{ end }}

	{{ $paginator := .dot.Paginate (sort $pages ".Params.startDate") .limit  }}
	{{ range $paginator.Pages }}
	<li class="cursor-pointer hover:bg-gray-300">
		<a href="{{ .Permalink }}" class="py-3 border-b flex">
			<div class="w-2/4 pr-8">{{.Title}}
			</div>
			<div class="flex flex-col md:flex-row">
				<div>{{.Params.city}}</div>
				<div class="md:pl-10">
					{{ if eq .Params.withoutTime false }}
					{{ dateFormat "15" .Params.startDate  }}:{{ dateFormat "04" .Params.startDate }} -
					{{ dateFormat "15" .Params.endDate }}:{{ dateFormat "04" .Params.endDate }}
					{{end}}
				</div>
			</div>
			<div class="flex-auto text-right">
				{{ dateFormat "02.01.06" .Params.startDate }}{{ if .Params.endDate }} -
				{{ dateFormat "02.01.06" .Params.endDate}} {{end}}
			</div>
		</a>
	</li>
	{{end}}
</ul>
