<div class="min-h-screen  flex flex-wrap content-center ">
	<div class="container w-full flex flex-col md:flex-row">
		<div class="p-8 md:w-2/4">
			<img class="" src="/img/logo_full.png" alt="">
		</div>
		<div class="p-8 md:w-2/4 flex flex-wrap content-center">
			<h3 class="mb-2">Latest articles:</h3>
			{{ $pages := where .Site.RegularPages "Section" "blog" }}
			{{ range .Site.Home.Translations }}
			{{ $pages = $pages | lang.Merge (where .Site.RegularPages "Section" "blog") }}
			{{ end }}

			{{ range sort (first 3 $pages) ".Date" }}
			<a href="{{.Permalink}}" class="underline">‣ {{.Title}}</a>
			{{end}}
		</div>
	</div>
</div>
<div id=" canvas_draw" class="-z-10 h-screen w-screen fixed top-0 left-0">
</div>
