{{- define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end -}}
{{- define "main" -}}
<div class="bg-white" x-data="{ tab: 'all' }">
	<div class='sticky top-0 bg-white pt-2 {{if eq .Page.Title "Calendar"}}border-b{{end}} z-30'>
		<div class="container mx-auto my-4">
			<!-- TODO: Add translation -->
			<button :class="{ 'font-bold': tab === 'all' }" class="text-sm md:text-base"
				@click="tab = 'all'">All</button>
			{{ $categories := slice }}
			{{ range .Data.Pages }}
			{{ $categories = $categories | append .Params.Category }}
			{{ end }}
			{{ range ( $categories | uniq ) }}
			<button class="px-2 text-sm md:text-base" :class="{ 'font-bold': tab ===  '{{ . | urlize }}'}"
				@click="tab = '{{ . | urlize}}'">{{ . | humanize }}</button>
			{{ end }}
		</div>
	</div>
	<div class="container">
		{{ partial "site-header" (dict "title" .Title)}}
		{{ partial "calendar.html" (dict "dot" . "limit" "99")}}
	</div>
</div>
{{end}}
